@{
    ViewData["Title"] = "Contact";
}
<h3>@ViewData["Title"]</h3>

<address>
    123 Fake Street<br />
    Someplace, Co Dublin, <br />
    Ireland <br />
    <strong>Phone:</strong> 01-123456
</address>

<address>
    <strong>Email:</strong> <a href="mailto:info@someplace.com">info@somplace.com</a>
</address>
