@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Retro Rentals</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome</h2>
        <p>Retro Rentals is an application that allows customers to rent movies from the 1980's</p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/1980s">Learn More &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Movies</h2>
        <p>Browse our most popular movies</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">Movies &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Staff</h2>
        <p>This is the Staff Area</p>
        <p><a class="btn btn-default" href="https://github.com/aspnet/Docs/tree/master/aspnet/data/ef-mvc/intro/samples/cu-final">Staff &raquo;</a></p>
    </div>
</div>
